body {
    margin: 0;
    padding: 5px 40px;
    font-size: 16px;
    background-color: #EAEDDD;
    color: #000501;
}

/*? HEADER */

.hero {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left,
.header-right,
.header-search::placeholder {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
    font-family: 'Lato';
    font-size: 1rem;
    letter-spacing: 0.05em;
}

.header-left {
    gap: 10px;
    width: 138px;
}

.header-right {
    gap: 15px;
}

.header-search {
    width: 100%;
    height: 17px;
    background-color: #F8FAEF;
    border: hidden;
    border-top: 1px solid #232B27;
    border-left: 0.5px solid #232B27;
    box-shadow: 2.2px 2.1px #232B27;
    border-radius: 5px;
}


.header-logo {
    font-family: 'DM Serif Display';
    font-size: 2.488em;
    font-weight: lighter;
    letter-spacing: 0.1em;
}

/*? COVER */

.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 0;
}

.cover-photo {
    min-width: 300px;
    max-width: 360px;
}

.intro-text {
    min-width: 300px;
}

.intro-title {
    font-family: 'Playfair Display';
    font-size: 2.074em;
    letter-spacing: 0.01em;
    margin: 0 0 10px 0;
}

.intro-sub, p {
    font-family: 'Lato';
    margin: 0 0 10px 0;
}

/*? CONTRIBUTION */

.contribution-sub {
    font-size: 1.44em;
    letter-spacing: 0.01em;
    text-align: center;
    margin: 0 0 15px 0;
}

.contribution {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    gap: 5px;
}

.contribution p {
    font-size: 1.2em;
    line-height: 1.3em;
    min-width: 350px;
    max-width: 655px;
    text-align: justify;
}

.mid-art {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-article-photo {
    min-width: 415px;
    max-width: 70%;
}

figcaption {
    font-family: 'Lato';
    font-size: 1.1em;
    font-style: italic;
    letter-spacing: 0.03em;
    margin: 10px 0 60px 0;
    text-align:justify;
    min-width: 415px;
    max-width: 75%;
}

.end-quote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 50px;
}

.quote-image {
    min-width: 350px;
    max-width: 15%;
}

blockquote {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding-left: 15px;
    border-left: 3px solid #232B27;
    display:inline-flex;

    max-width: 300px;
    text-align: justify;

  } 
  
  blockquote span {
    margin-top:-4px;
    margin-bottom:-11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
  }

.footer-author {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    font-size: 1.1em;
}

.fa-regular {
    font-size: 12px;
}